.devtools-root {
  --panel__1: #f4f4f5;
  --panel__2: #e4e4e7;
  --panel__3: #d4d4d8;
  --panel__4: #a1a1aa;
  --panel__5: #71717a;
  --panel__6: #52525b;
  --panel__7: #3f3f46;
  --panel__8: #27272a;
  --panel__bg: #fafafa;
  --panel__border: #d4d4d8;
  --gray_highlight__color: #d4d4d8;
  --gray_highlight__border: #a1a1aa;
  --disabled__color: #71717a;
  --default-text-color: #18181b;
  --light-text-color: #27272a;
  --component-color: #0891b2;
  --dom-color: #d97706;
}

@media (prefers-color-scheme: dark) {
  .devtools-root {
    --panel__1: #27272a;
    --panel__2: #3f3f46;
    --panel__3: #52525b;
    --panel__4: #71717a;
    --panel__5: #a1a1aa;
    --panel__6: #d4d4d8;
    --panel__7: #e4e4e7;
    --panel__8: #f4f4f5;
    --panel__bg: #27272a;
    --panel__border: #52525b;
    --gray_highlight__color: #52525b;
    --gray_highlight__border: #71717a;
    --disabled__color: #a1a1aa;
    --default-text-color: #f4f4f5;
    --light-text-color: #e4e4e7;
    --component-color: #22d3ee;
    --dom-color: #f59e0b;
  }
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  --toggle-button-color: 82 82 91;
  --toggle-button-color-opacity: 1;
  --toggle-button-bg-opacity: 0;
  --toggle-button-border-opacity: 0;
  color: rgb(var(--toggle-button-color) / var(--toggle-button-color-opacity));
  background-color: rgb(var(--toggle-button-color) / var(--toggle-button-bg-opacity));
  border: 1px solid rgb(var(--toggle-button-color) / var(--toggle-button-border-opacity));
  outline: unset;
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
}

.toggle-button:is(:hover, :active:hover) {
  --toggle-button-bg-opacity: 0.1;
}

.toggle-button:focus {
  --toggle-button-border-opacity: 0.3;
}

.toggle-button:active {
  --toggle-button-bg-opacity: 0.05;
}

.toggle-button:is([aria-selected="true"], [aria-expanded="true"]) {
  --toggle-button-color: 8 145 178;
  --toggle-button-bg-opacity: 0.05;
}

@media (prefers-color-scheme: dark) {
  .toggle-button {
    --toggle-button-color: 161 161 170;
  }

  .toggle-button:is([aria-selected="true"], [aria-expanded="true"]) {
    --toggle-button-color: 34 211 238;
  }
}

.highlight_element {
  background-color: var(--highlight_color_var, var(--gray_highlight__color));
  opacity: var(--highlight_opacity_var, 0);
}

@media (prefers-color-scheme: dark) {
  .highlight_element {
    opacity: calc(var(--highlight_opacity_var, 0) / 2);
  }
}

.h-owner-path-height {
  height: 1.5rem;
}

.min-h-owner-path-height {
  min-height: 1.125rem;
}

.string_value:before,
.string_value:after {
  content: '"';
  color: var(--disabled__color);
}

.tag_brackets:before {
  content: '<!--qv q:id=';
  color: var(--disabled__color);
}

.tag_brackets:after {
  content: ' -->';
  color: var(--disabled__color);
}

.custom_scrollbar::-webkit-scrollbar {
  display: block;
  width: 1rem;
}

.custom_scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom_scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.custom_scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.custom_scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgb(113 113 122 / 0.2);
}

.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(113 113 122 / 0.4);
}

*,
::after,
::before {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgba(147, 197, 253, 0.5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia:
}

::backdrop {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgba(147, 197, 253, 0.5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia:
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

button {
  padding: 0;
  border: none;
  border-width: 0;
  background: 0 0;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit
}

input {
  font-size: inherit;
  font-family: inherit
}

input[type=checkbox] {
  margin: 0
}

input[type=text] {
  outline: unset;
  background: unset;
  border: unset;
  color: inherit
}

*,
::after,
::before {
  box-sizing: border-box
}

@media screen and (prefers-color-scheme:dark) {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
}

.center-child {
  display: flex;
  align-items: center;
  justify-content: center
}

@media (min-width:640px) {
  .container {
    max-width: 640px
  }

  .container\! {
    max-width: 640px !important
  }
}

@media (min-width:768px) {
  .container {
    max-width: 768px
  }

  .container\! {
    max-width: 768px !important
  }
}

@media (min-width:1024px) {
  .container {
    max-width: 1024px
  }

  .container\! {
    max-width: 1024px !important
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1280px
  }

  .container\! {
    max-width: 1280px !important
  }
}

@media (min-width:1536px) {
  .container {
    max-width: 1536px
  }

  .container\! {
    max-width: 1536px !important
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.pointer-events-none {
  pointer-events: none
}

.absolute {
  position: absolute
}

.fixed {
  position: fixed
}

.relative {
  position: relative
}

.before\:absolute::before {
  position: absolute
}

.inset-0 {
  inset: 0
}

.before\:inset-\.5::before {
  inset: 0.125rem
}

.-inset-x-1 {
  left: -.25rem;
  right: -.25rem
}

.-inset-y-\.25 {
  top: -.0625rem;
  bottom: -.0625rem
}

.-inset-y-3px {
  top: -3px;
  bottom: -3px
}

.inset-x-0 {
  left: 0;
  right: 0
}

.inset-x-1 {
  left: .25rem;
  right: .25rem
}

.inset-y-0 {
  top: 0;
  bottom: 0
}

.inset-y-1 {
  top: .25rem;
  bottom: .25rem
}

.before\:inset-x-0::before {
  left: 0;
  right: 0
}

.-left-1 {
  left: -.25rem
}

.-left-6 {
  left: -1.5rem
}

.bottom-0 {
  bottom: 0
}

.left-0 {
  left: 0
}

.right-1 {
  right: .25rem
}

.right-2 {
  right: .5rem
}

.right-full {
  right: 100%
}

.top-0 {
  top: 0
}

.top-full {
  top: 100%
}

.before\:top-1\/2::before {
  top: 50%
}

.-z-1 {
  z-index: -1
}

.-z-2 {
  z-index: -2
}

.z-0 {
  z-index: 0
}

.z-1 {
  z-index: 1
}

.z-2 {
  z-index: 2
}

.z-9999 {
  z-index: 9999
}

.before\:-z-1::before {
  z-index: -1
}

.before\:-z-2::before {
  z-index: -2
}

.grid {
  display: grid
}

.grid-auto-flow-col {
  grid-auto-flow: column
}

.m-y-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mx-\.5 {
  margin-left: .125rem;
  margin-right: .125rem
}

.my-0\.25 {
  margin-top: .0625rem;
  margin-bottom: .0625rem
}

.-mb-2px {
  margin-bottom: -2px
}

.mb-\[0\.15rem\] {
  margin-bottom: .15rem
}

.mb-1 {
  margin-bottom: .25rem
}

.ml-3\.5 {
  margin-left: .875rem
}

.ml-auto {
  margin-left: auto
}

.mr-1 {
  margin-right: .25rem
}

.mr-2 {
  margin-right: .5rem
}

.mr-2ch {
  margin-right: 2ch
}

.mt-\.25 {
  margin-top: .0625rem
}

.box-border {
  box-sizing: border-box
}

.box-content {
  box-sizing: content-box
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.first\:hidden:first-child {
  display: none
}

.h-0\.6px {
  height: .6px
}

.h-2 {
  height: .5rem
}

.h-2\.5 {
  height: .625rem
}

.h-3,
.h3 {
  height: .75rem
}

.h-3\.5 {
  height: .875rem
}

.h-4 {
  height: 1rem
}

.h-4\.5,
.h-inspector_row {
  height: 1.125rem
}

.h-6 {
  height: 1.5rem
}

.h-7 {
  height: 1.75rem
}

.h-8 {
  height: 2rem
}

.h-fit {
  height: fit-content
}

.h-full {
  height: 100%
}

.h-inherit {
  height: inherit
}

.h-max {
  height: max-content
}

.max-w-fit {
  max-width: fit-content
}

.min-h-full {
  min-height: 100%
}

.min-h-inspector_row {
  min-height: 1.125rem
}

.min-w-36 {
  min-width: 9rem
}

.min-w-5ch {
  min-width: 5ch
}

.min-w-80 {
  min-width: 20rem
}

.min-w-full {
  min-width: 100%
}

.w-2 {
  width: .5rem
}

.w-2\.5 {
  width: .625rem
}

.w-3 {
  width: .75rem
}

.w-3\.5 {
  width: .875rem
}

.w-4 {
  width: 1rem
}

.w-4\.5,
.w-inspector_row {
  width: 1.125rem
}

.w-6 {
  width: 1.5rem
}

.w-7 {
  width: 1.75rem
}

.w-8 {
  width: 2rem
}

.w-fit {
  width: fit-content
}

.w-full {
  width: 100%
}

.w-max {
  width: max-content
}

.hover\:h-auto:hover {
  height: auto
}

.before\:h-px::before {
  height: 1px
}

.flex {
  display: flex
}

.shrink {
  flex-shrink: 1
}

.shrink-0 {
  flex-shrink: 0
}

.grow {
  flex-grow: 1
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.group:focus-within .group-focus-within\:-translate-x-full {
  --un-translate-x: -100%;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.rotate-180 {
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-rotate: 180deg;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.rotate-90 {
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-rotate: 90deg;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.transform {
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.cursor-default {
  cursor: default
}

.cursor-pointer {
  cursor: pointer
}

.cursor-row-resize {
  cursor: row-resize
}

.select-none {
  -webkit-user-select: none;
  user-select: none
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-stretch {
  align-items: stretch
}

.justify-end {
  justify-content: flex-end
}

.justify-between {
  justify-content: space-between
}

.gap-\.5 {
  gap: .125rem
}

.gap-2 {
  gap: .5rem
}

.gap-x-1 {
  column-gap: .25rem
}

.gap-x-1\.5 {
  column-gap: .375rem
}

.gap-x-2 {
  column-gap: .5rem
}

.gap-y-2 {
  row-gap: .5rem
}

.gap-y-4 {
  row-gap: 1rem
}

.divide-x>:not([hidden])~:not([hidden]) {
  --un-divide-x-reverse: 0;
  border-left-width: calc(1px * calc(1 - var(--un-divide-x-reverse)));
  border-right-width: calc(1px * var(--un-divide-x-reverse))
}

.b-panel-2,
.divide-panel-2>:not([hidden])~:not([hidden]) {
  border-color: var(--panel__2)
}

.b-solid,
.border-solid,
.divide-solid>:not([hidden])~:not([hidden]) {
  border-style: solid
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-overlay {
  overflow: overlay
}

.overflow-visible {
  overflow: visible
}

.overflow-y-auto {
  overflow-y: auto
}

.overscroll-none {
  overscroll-behavior: none
}

.break-words {
  overflow-wrap: break-word
}

.b,
.border {
  border-width: 1px
}

.b-2px {
  border-width: 2px
}

.b-x {
  border-left-width: 1px;
  border-right-width: 1px
}

.b-b {
  border-bottom-width: 1px
}

.b-l {
  border-left-width: 1px
}

.b-t {
  border-top-width: 1px
}

.b-dom {
  border-color: var(--dom-color)
}

.b-gray-400 {
  --un-border-opacity: 1;
  border-color: rgba(161, 161, 170, var(--un-border-opacity))
}

.b-highlight-border {
  border-color: var(--gray_highlight__border)
}

.b-panel-3 {
  border-color: var(--panel__3)
}

.b-panel-6 {
  border-color: var(--panel__6)
}

.b-panel-border {
  border-color: var(--panel__border)
}

.b-transparent {
  border-color: transparent
}

.group:active .group-active\:b-panel-4 {
  border-color: var(--panel__4)
}

.rounded {
  border-radius: .25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-md {
  border-radius: .375rem
}

.rounded-sm {
  border-radius: .125rem
}

.before\:rounded-full::before {
  border-radius: 9999px
}

.bg-black\/50 {
  background-color: rgba(0, 0, 0, .5)
}

.bg-cyan-600 {
  --un-bg-opacity: 1;
  background-color: rgba(8, 145, 178, var(--un-bg-opacity))
}

.bg-gray-200 {
  --un-bg-opacity: 1;
  background-color: rgba(228, 228, 231, var(--un-bg-opacity))
}

.bg-gray-5 {
  --un-bg-opacity: 1;
  background-color: rgba(107, 114, 128, var(--un-bg-opacity))
}

.bg-highlight-bg {
  background-color: var(--gray_highlight__color)
}

.bg-panel-1 {
  background-color: var(--panel__1)
}

.bg-panel-2,
.group:hover .group-hover\:bg-panel-2 {
  background-color: var(--panel__2)
}

.bg-panel-8 {
  background-color: var(--panel__8)
}

.bg-panel-bg {
  background-color: var(--panel__bg)
}

.bg-panel-border {
  background-color: var(--panel__border)
}

.bg-transparent {
  background-color: transparent
}

.hover\:before\:bg-panel-2:hover::before {
  background-color: var(--panel__2)
}

.hover\:bg-panel-7:hover {
  background-color: var(--panel__7)
}

.active\:bg-panel-6:active {
  background-color: var(--panel__6)
}

.before\:bg-current::before {
  background-color: currentColor
}

.before\:bg-white::before {
  --un-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--un-bg-opacity))
}

.bg-opacity-0 {
  --un-bg-opacity: 0
}

.bg-opacity-20 {
  --un-bg-opacity: 0.2
}

.selected\:bg-opacity-05[aria-selected=true] {
  --un-bg-opacity: 0.05
}

.hover\:bg-opacity-10:hover {
  --un-bg-opacity: 0.1
}

.selected\:hover\:bg-opacity-10:hover[aria-selected=true] {
  --un-bg-opacity: 0.1
}

.active\:bg-opacity-05:active {
  --un-bg-opacity: 0.05
}

.active\:hover\:bg-opacity-05:hover:active {
  --un-bg-opacity: 0.05
}

.fill-none {
  fill: none
}

.stroke-dom {
  stroke: var(--dom-color)
}

.stroke-cap-round {
  stroke-linecap: round
}

.p-1 {
  padding: .25rem
}

.p-2 {
  padding: .5rem
}

.p-4 {
  padding: 1rem
}

.p\[i\]\! {
  padding: i !important
}

.p-x-\.5 {
  padding-left: .125rem;
  padding-right: .125rem
}

.p-x-1 {
  padding-left: .25rem;
  padding-right: .25rem
}

.p-x-2 {
  padding-left: .5rem;
  padding-right: .5rem
}

.p-x-2\.5 {
  padding-left: .625rem;
  padding-right: .625rem
}

.p-x-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.p-x-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.p-y-\.25 {
  padding-top: .0625rem;
  padding-bottom: .0625rem
}

.p-y-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.p-b-14 {
  padding-bottom: 3.5rem
}

.p-l-1\.5 {
  padding-left: .375rem
}

.p-l-2ch {
  padding-left: 2ch
}

.p-l-3 {
  padding-left: .75rem
}

.p-l-4 {
  padding-left: 1rem
}

.p-r-4 {
  padding-right: 1rem
}

.p-t-2 {
  padding-top: .5rem
}

.group:focus-within .group-focus-within\:p-l-2 {
  padding-left: .5rem
}

.hover\:pt-\.5:hover {
  padding-top: .125rem
}

.text-\.8em {
  font-size: .8em
}

.text-2\.5 {
  font-size: .625rem
}

.text-base {
  font-size: .75rem;
  line-height: 1
}

.text-lg {
  font-size: .875rem;
  line-height: 1
}

.text-sm {
  font-size: .625rem;
  line-height: 1
}

.font-500 {
  font-weight: 500
}

.font-700 {
  font-weight: 700
}

.leading-3 {
  line-height: .75rem
}

.leading-9 {
  line-height: 2.25rem
}

.leading-inspector_row {
  line-height: 1.125rem
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace
}

.font-sans {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Noto Color Emoji'
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.font-italic {
  font-style: italic
}

.color-disabled,
.text-disabled {
  color: var(--disabled__color)
}

.after\:color-disabled::after {
  color: var(--disabled__color)
}

.text-component {
  color: var(--component-color)
}

.text-current {
  color: currentColor
}

.text-cyan-600 {
  --un-text-opacity: 1;
  color: rgba(8, 145, 178, var(--un-text-opacity))
}

.text-dom {
  color: var(--dom-color)
}

.text-gray-5 {
  --un-text-opacity: 1;
  color: rgba(107, 114, 128, var(--un-text-opacity))
}

.text-gray-600 {
  --un-text-opacity: 1;
  color: rgba(82, 82, 91, var(--un-text-opacity))
}

.text-green {
  --un-text-opacity: 1;
  color: rgba(22, 163, 74, var(--un-text-opacity))
}

.text-panel-1 {
  color: var(--panel__1)
}

.text-panel-5 {
  color: var(--panel__5)
}

.text-red {
  --un-text-opacity: 1;
  color: rgba(239, 68, 68, var(--un-text-opacity))
}

.text-text {
  color: var(--default-text-color)
}

.text-text-light {
  color: var(--light-text-color)
}

.placeholder\:text-disabled::placeholder {
  color: var(--disabled__color)
}

.selected\:text-opacity-100[aria-selected=true] {
  --un-text-opacity: 1
}

.text-opacity-85 {
  --un-text-opacity: 0.85
}

.hover\:text-opacity-100:hover {
  --un-text-opacity: 1
}

.tab {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4
}

.group:focus .group-focus\:opacity-100,
.group:hover .group-hover\:opacity-100,
.group[aria-selected=true] .group-\[\[aria-selected\=true\]\]\:opacity-100,
.opacity-100,
.selected\:opacity-100[aria-selected=true] {
  opacity: 1
}

.group:hover .group-hover\:opacity-0,
.opacity-0 {
  opacity: 0
}

.opacity-30 {
  opacity: .3
}

.opacity-50 {
  opacity: .5
}

.opacity-55 {
  opacity: .55
}

.opacity-60 {
  opacity: .6
}

.opacity-70 {
  opacity: .7
}

.opacity-80 {
  opacity: .8
}

.group:focus .group-focus\:opacity-20,
.group:hover .group-hover\:opacity-20 {
  opacity: .2
}

.hover\:opacity-80:hover {
  opacity: .8
}

.active\:opacity-100:active {
  opacity: 1
}

.outline {
  outline-style: solid
}

.outline-unset {
  outline-style: unset
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus\:ring-2:focus {
  --un-ring-width: 2px;
  --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
  --un-ring-shadow: var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow)
}

.active\:ring-0:active {
  --un-ring-width: 0;
  --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
  --un-ring-shadow: var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow)
}

.focus\:ring-offset-2:focus {
  --un-ring-offset-width: 2px
}

.active\:ring-offset-0:active {
  --un-ring-offset-width: 0
}

.focus\:ring-panel-7:focus {
  --un-ring-color: var(--panel__7)
}

.filter {
  filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia)
}

.transition {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-colors {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-padding {
  transition-property: padding;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.before\:transition-background-color::before {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-100 {
  transition-duration: .1s
}

.duration-300 {
  transition-duration: .3s
}

.delay-75 {
  transition-delay: 75ms
}

.after\:content-\[\"\:\"\]::after {
  content: ":"
}

.content-empty {
  content: ""
}

.before\:content-empty::before {
  content: ""
}

@media (prefers-color-scheme:dark) {
  .dark\:bg-gray-4 {
    --un-bg-opacity: 1;
    background-color: rgba(156, 163, 175, var(--un-bg-opacity))
  }

  .dark\:before\:bg-gray-800::before {
    --un-bg-opacity: 1;
    background-color: rgba(39, 39, 42, var(--un-bg-opacity))
  }

  .dark\:bg-opacity-0 {
    --un-bg-opacity: 0
  }

  .dark\:text-gray-4 {
    --un-text-opacity: 1;
    color: rgba(156, 163, 175, var(--un-text-opacity))
  }

  .dark\:text-opacity-85 {
    --un-text-opacity: 0.85
  }
}

@media (prefers-color-scheme:light) {
  .light\:text-black {
    --un-text-opacity: 1;
    color: rgba(0, 0, 0, var(--un-text-opacity))
  }
}

@media (min-width:640px) {
  .sm\:-inset-x-3px {
    left: -3px;
    right: -3px
  }

  .sm\:inset-y-0 {
    top: 0;
    bottom: 0
  }

  .sm\:cursor-col-resize {
    cursor: col-resize
  }
}